*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html, body {
  height: 100%;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-family: inherit;
}

/* ------------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.header {
  background-color: #508068;
  padding: 10px 20px;
  color: #fff;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}