*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html, body {
  height: 100%;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-family: inherit;
}

/* ------------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #508068;
  padding: 10px 20px;
  color: #fff;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header p {
  font-size: 25px;
  font-weight: 600;
}

h1 {
  font-size: 45px;
  font-weight: 600;
  color: #315041;
  max-width: 700px;
  margin: 0 auto 40px;
}

.main {
  padding: 70px 0 20px;
}

.dashboard_items {
  display: flex;
  flex-wrap: wrap;
}

.dashboard__column {
  flex: 0 1 calc(100% / 4);
  padding: 15px;
}

.column-content {
  background-color: #e4f9ef;
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-content > *:not(:last-child) {
  margin-bottom: 10px;
}

.col_img {
  width: 80px;
  height: 80px;
  margin-bottom: 30px !important;
}

img {
  max-width: 100%;
}

.statsBtn {
  background-color: #508068;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

@media (max-width: 992px) {
  .dashboard__column {
    flex: 0 1 calc(100% / 2);
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .dashboard__column {
    flex: 0 1 100%;
    padding: 10px 0;
  }
}